@import url(variables.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
  font-size: 100%; 
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  font-family: Roboto, system-ui, sans-serif;
}

