:root {
    --deep-blue: #1F274C;
    --deep-blue-2: #344079;
    --white: #FFFFFF;
    --dark-yellow: rgba(206, 179, 134, 0.26);
    --text-gray: #808080;
    --backgorund-gray: #CCCCCC;
    --red: #D64A2E;
    --red-high: rgba(214, 74, 46, 0.16);
    --green: #86CD82;
    --green-high: rgba(134, 205, 130, 0.21);
    --black: #222222;
    --yellow: #FFCA37;
    --blue: #355AFD;

    --deep-blue-gradient: linear-gradient(to left, var(var(--deep-blue), var(var(--deep-blue-2))));

    /* BORDER RADIUS */
    --radius-sm: 8px;
    --radius-md: 14px;
    --radius-lg: 18px;
    --radius-full: 50%;

    /* SPACING */
    --space-1: 1px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 12px;
    --space-5: 16px;
    --space-6: 20px;
    --space-7: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-20: 80px;

    /* FONTSIZE */
    --fontsize-xs: clamp(0.75rem, 0.65rem + 0.5vw, 0.875rem); /* 12px -> 14px */
  --fontsize-sm: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);       /* 16px -> 18px */
  --fontsize-md: clamp(1.25rem, 1.1rem + 1vw, 1.5rem);        /* 20px -> 24px */
  --fontsize-lg: clamp(1.75rem, 1.5rem + 2vw, 2.125rem);      /* 28px -> 34px */
  --fontsize-xl: clamp(2.25rem, 1.75rem + 3vw, 2.875rem);     /* 36px -> 46px */

    --boxshadow-default: 0 0 15px rgba(0, 0, 0, 0.2);

    --overlay: rgba(0, 0, 0, 0.5);
}